@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&family=Rubik&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato";
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

.centered {
    padding-left: calc(50% - 800px);
    padding-right: calc(50% - 800px);
}

.nav {
    background-color: #222222;
    color: white;
    font-size: 1.2em;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-end;
    align-items: center;
    justify-content: space-around;
    padding: 20px 10px;
}

.nav__left {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 10px;
}

.nav__right {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.brand {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background-color: #F1E4E6;
}

.brand__logo {
    width: 800px;
}

.brand__text {
    color: #222;
    font-size: 48px;
    font-weight: 900;
    border-left: 12px solid #F16D7F;
    padding-left: 16px;
}
.brand__color{
    color: #F16D7F;
}