@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato";
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

.centered {
    padding-left: calc(50% - 800px);
    padding-right: calc(50% - 800px);
}

.nav {
    background-color: #222222;
    color: white;
    font-size: 1.2em;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-end;
    align-items: center;
    justify-content: space-around;
    padding: 20px 10px;
}

.nav__left {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 10px;
}

.nav__right {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.brand {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background-color: #F1E4E6;
    margin-bottom: 50px;
}

.brand__logo {
    width: 800px;
}

.brand__text {
    color: #222;
    font-size: 48px;
    font-weight: 900;
    border-left: 12px solid #F16D7F;
    padding-left: 16px;
}

.brand__color {
    color: #F16D7F;
    font-weight: 600;
}

.chapters {
    display: grid;
    grid-template-areas: "women men kids" "accesories accesories accesories";
    gap: 20px;
    margin-bottom: 50px;
}

.chapters__overall {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.chapters__women {
    width: 360px;
    height: 260px;
    grid-area: women;
    background-image: url(img/ch_woman.svg);
}

.chapters__men {
    width: 360px;
    height: 260px;
    grid-area: men;
    background-image: url(img/ch_man.svg);
}

.chapters__kids {
    width: 360px;
    height: 260px;
    grid-area: kids;
    background-image: url(img/ch_kid.svg);
}

.chapters__accesories {
    grid-area: accesories;
    background-image: url(img/ch_acc.svg);
    width: 1140px;
    height: 180px;
}

.chapters__text {
    text-align: center;
    width: 400;
    color: white;
}

.featured {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.subheading {
    color: #222;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.main__text {
    color: #9F9F9F;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.examples {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    margin-bottom: 50px;
    gap: 20px;
}

.example_item {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 10px;
    padding: 18px;
}

.price {
    color: #F16D7F;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.browse__more {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.btn {
    width: 200px;
    height: 50px;
    background-color: white;
    border-color: #F16D7F;
    font-family: "Lato";
    color: #F16D7F;
}